.mainDiv {
    background-color: #EBE1FF;
    padding: 0px 0px 45px;
}

.banner_content {
    background-image: url('../../../assets/img/banner/Banner10.png');
    position: relative;
    width: 100%;
    min-height: 350px;
    padding: 20px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-blend-mode: screen;
    display: grid;
    place-content: center;
}

.subMenu_content {
    position: absolute;
    top: 11rem;
    left: 4rem;
}

.subContent{
    width: 80%;
    margin: auto;
}
.dropDownList{
border-radius: 10px;
background: rgba(255, 255, 255, 0.70);
box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.18);
width: 100%;
padding:15px;
}
select{
    border-radius: 20px;
    overflow: hidden;
    padding: 10px;
}
.form-control{
    font-size: 12px !important;
}
.search_input {
    border-radius: 20px;
    border: 2px solid #65318E;
    background-color: #65318E;
    color: #FFF;
    padding:9px;
}
.search_icon {
    width: 16px;
    height: 16px;
    position: relative;
    right: 31px;
    top: 11px;
}
.card_content{
border-radius: 10px;
background: #FFF;
box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.18);
width: 100%;
padding: 20px;
overflow: hidden;
}
.card_title{
color: #65318E;
font-size: 25px;
font-style: normal;
font-weight: 600;
line-height: 30px; /* 107.143% */
text-transform: uppercase;
}
.location_img{
    width: 13px;
    height: 15px;
    margin-top:3px;
}
.locationIcon{
    display: flex;
    border-bottom: 3px solid #65318E;
}
.locationIcon p{
    margin-left:10px;
    font-size: 14px;
}
.iconList{
    width: 16px;
    height: 16px;
}
.map_btn{
border-radius: 0px 53px 53px 53px;
background: #65318E;
color: #FFF;
float: right;
padding: 5px 20px 5px 20px;
}
.search_btn{
    padding: 5px 45px 5px 45px;
}
.centers_title{
    color: #65318E;
    font-size:1.5rem;
    font-weight: bold;
    padding: 0px 20px;
    font-size: 2.5rem;
}

@media screen and (max-width: 600px) {

    .res_input{
        margin-top: 7px;
    }
    .map_btn{
        border-radius: 0px 53px 53px 20px;
        background: #65318E;
        color: #FFF;
        float: right;
        font-size: 13px;
        padding: 5px 20px 5px 20px;
    }
.card_title{
    font-size: 16px;
}
    .dayCardImg {
        display: flex;
        justify-content: center;
    }
    .banner_content {
        background-size: 100% 100%;
        min-height:200px;
    }

    .subMenu_content {
        position: absolute;
        top: 4rem;
        left: 0rem;
    }
}