
<section>
    <app-static-header></app-static-header>
</section>
<section>
    <div class="banner_div_slider">
        <div id="carouselExampleIndicators1" class="carousel slide desktop_viwe_banner">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../../../assets/img/desktop_banner/banner1-01.jpg" routerLink="/admissions" loading="lazy" class="d-block slider_img responsive" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="../../../assets/img/desktop_banner/banner1-03.jpg" routerLink="/partner-with-kidzee" loading="lazy" class="d-block slider_img responsive" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="../../../assets/img/desktop_banner/banner1-05.jpg" routerLink="/pentemind" loading="lazy" class="d-block slider_img responsive" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators1"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators1"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

        <div id="carouselExampleIndicators11" class="carousel slide mobile_banner">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators11" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators11" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators11" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../../../assets/img/desktop_banner/mobile_banner/banner1-02.jpg" routerLink="/admissions" loading="lazy" class="d-block slider_img responsive" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="../../../assets/img/desktop_banner/mobile_banner/banner1-04.jpg" routerLink="/partner-with-kidzee" loading="lazy" class="d-block slider_img responsive" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="../../../assets/img/desktop_banner/mobile_banner/banner1-06.jpg" routerLink="/pentemind" loading="lazy" class="d-block slider_img responsive" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators11"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators11"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</section>
<section>
    <div class="mainDiv">
        <app-about-us></app-about-us>
    </div>
</section>
<section>
<app-programmes></app-programmes>
</section>
<section>
    <div class="mainDiv2">
        <div class="dayCareContent">
            <div class="row">
                <div class="col-md-6">
                    <div class="dayCareText">
                        <div class="right_content1">
                            <div class="title">
                                DayCare
                            </div>
                            <div class="subTitle">
                                Kidzee Daycare - A home away from home for your child!
                            </div>
                            <div class="paragraph_content mt-2">
                                <p>We understand that the early years in the child’s life are important for the overall
                                    development. The primary role of parents in these years is to provide their children
                                    with an environment that is loving, caring, fun-filled and one which provides happy
                                    experiences. As these aspects play a very important role in fostering the
                                    developmental areas, like, cognitive development, physical development,
                                    socio-emotional development, and so on. Hence, our objective is to create a home
                                    away from home for them to feel safe, secure, and happy.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="dayCardImg">
                        <div class="">
                            <img srcset="../../../assets/img/singleChild.png" loading="lazy" alt="Kidzee Daycare" class="schoolGirlImg responsive"
                                align="center">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="mainDiv3">
        <div class="pentemindGroup">
            <div class="d-flex justify-content-center">
                <img srcset="../../../assets/img/allMonkey.png" loading="lazy" class="pentemindgroupImg responsive" align="center" alt="pentemind">
            </div>
        </div>
    </div>
</section>
<section>
    <div class="mainDiv4">
        <app-kidzee-pree-school></app-kidzee-pree-school>
    </div>
</section>
<section>
    <div class="mainDiv21">
        <div class="dayCareContent1">
            <div class="row flex-column-reverse flex-lg-row">
                <div class="col-md-6">
                    <div class="dayCardImg">
                        <div class="">
                            <img srcset="../../../assets/img/childGroup.png" loading="lazy" alt="" class="franchiseImg responsive"
                                align="center" alt="Franchise Opportunity">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="dayCareText">
                        <div class="right_content1">
                            <div class="title">
                                Franchise Opportunity
                            </div>
                            <div class="subTitle">
                                Start your own Preschool, today!
                            </div>
                            <div class="paragraph_content mt-2">
                                <p>2,000+ CENTRES | 750+ CITIES</p>
                                <p>India's Most Trusted PreschoolCategory in TRA's Brand TrustReport, 2022</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<section>
    <div class="mainDiv5">
        <app-faqs ></app-faqs>
    </div>
</section>
<section>
    <div class="mainDiv6">
        <div class="blogsContent">
            <app-blogs></app-blogs>
        </div>
    </div>
</section>
<section>
    <div class="mainDiv7">
        <app-testimonial></app-testimonial>
    </div>
</section>
<app-footer></app-footer>

