
    <div class="programers_content">
        <div class="title">
            Programmes
        </div>
        <div class="img_txt_list boysImg_mobileView">
            <div class="row">
                <div class="col-md-7">
                    <div class="listDiv mt-4">
                        <div class="">
                            <img srcset="../../../assets/img/PlayGroup.png" loading="lazy" class="listImg1 responsive" align="center"
                                alt="">
                        </div>
                        <div class="listText">
                            <div class="programTitle">PlayGroup</div>
                            <div class="infoContent">
                                <div class="text1">
                                    <div class="sub_text">Age Group</div>
                                    <div class="sub_text">1.5 - 2.5 Years</div>
                                </div>
                                <div class="text2">
                                    <div class="sub_text">Duration</div>
                                    <div class="sub_text">2.5 Hours/Day</div>
                                </div>
                            </div>
                            <div class="subPara">
                                <div class="box">
                                    <input type="checkbox" id="expanded1">
                                    <p>Children are born curious. They begin to explore the environment around them as
                                        soon
                                        as they are born. Kidzee’s playgroup curriculum plays an important role in
                                        helping
                                        children continue their exploration.

                                        The first few years of a child’s life are crucial and critical when it comes to
                                        the
                                        acquisition of skills and brain based learning. In the playgroup class, the
                                        young
                                        learners develop their latent language and math skills.</p>
                                    <label for="expanded1" class="readMoreBtn" role="button" routerLink="playgroup">Read More</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="listDiv mt-4">
                        <div class="">
                            <img srcset="../../../assets/img/Nursery.png" loading="lazy" alt="" class="listImg1 responsive"
                                align="center">
                        </div>
                        <div class="listText">
                            <div class="programTitle">Nursery</div>
                            <div class="infoContent">
                                <div class="text1">
                                    <div class="sub_text">Age Group</div>
                                    <div class="sub_text">2.5 - 3.5 Years</div>
                                </div>
                                <div class="text2">
                                    <div class="sub_text">Duration</div>
                                    <div class="sub_text">2.5 Hours/Day</div>
                                </div>
                            </div>
                            <div class="subPara">
                                <div class="box">
                                    <input type="checkbox" id="expanded2">
                                    <p>To set a firm foundation in the early years of preschool, quality early childhood
                                        education is vital for the overall development of a child. The Nursery syllabus
                                        has the right array of activities and learning environment that help a child
                                        move towards achieving their learning goals. Quality education in the early
                                        years of preschool, lays a strong foundation to develop socially and
                                        emotionally.
                                        The nursery education engages children in school readiness activities such as
                                        reading, writing, counting, number recognition, and problem solving. Children
                                        learn in a fun-filled but purposeful manner. Children are encouraged to display
                                        their learning experiences through collaborative activities in the areas of
                                        dramatics, science, and art. Our pedagogy Péntemind - The Learning Minds is
                                        aligned to the guidelines of NEP - National Education Policy 2020 and NCF -
                                        National Curriculum Framework of India.
                                    </p>

                                    <label for="expanded2" class="readMoreBtn" role="button" routerLink="nursery">Read More</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="listDiv mt-4">
                        <div class="">
                            <img srcset="../../../assets/img/Kindergarten.png" loading="lazy" alt="" class="listImg1 responsive"
                                align="center">
                        </div>
                        <div class="listText">
                            <div class="programTitle">Kindergarten</div>
                            <div class="infoContent">
                                <div class="text1">
                                    <div class="sub_text">Age Group</div>
                                    <div class="sub_text">3.5 - 5.5 Years</div>
                                </div>
                                <div class="text2">
                                    <div class="sub_text">Duration</div>
                                    <div class="sub_text">3.5 Hours/Day</div>
                                </div>
                            </div>
                            <div class="subPara">
                                <div class="box">
                                    <input type="checkbox" id="expanded3">
                                    <p>At Kidzee, the Kindergarten (KG) curriculum ensures a smooth transition to formal
                                        schooling. Children learn age-appropriate activities in various areas like
                                        English language, numbers, general knowledge, music, physical development, and
                                        art. The Kidzee Proprietary programmes for Phonics and school readiness makes it
                                        one of the best preschools in India. Child development is observed and assessed
                                        thrice in a year using a well-designed progressive matrix. Our pedagogy
                                        Péntemind - The Learning Minds is aligned to the guidelines of NEP - National
                                        Education Policy 2020 and NCF - National Curriculum Framework of India.</p>
                                    <label for="expanded3" class="readMoreBtn" role="button" routerLink="kindergarten">Read More</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="listDiv mt-4">
                        <div class="">
                            <img srcset="../../../assets/img/Teacher.png" loading="lazy" alt="" class="listImg1 responsive"
                                align="center">
                        </div>
                        <div class="listText">
                            <div class="programTitle">Teacher Training Programme</div>
                            <div class="subPara">
                                <div class="box">
                                    <input type="checkbox" id="expanded4">
                                    <p>Zee Learn Preschool Teacher Training Programme is a Zee Learn Ltd initiative.
                                        Kidzee (Preschool vertical of Zee Learn Ltd) has set unrivalled standards in the
                                        CDE (Child Development & Education) space as a leader in ECCE (Early Childhood
                                        Care & Education). Kidzee is one of the leading preschool chains in India.

                                        Our pedagogy, Péntemind nurtures the ‘Learning Minds’ in every child. It is a
                                        well-researched curriculum by our team of experts in preschool education. Early
                                        Childhood Education is now identified as the most critical need in the current
                                        global scenario. With increasing demands and recognition, there is a greater
                                        need for quality educators or preschool experts. This teacher training course
                                        will lead to the creation of world-class preschool educators.</p>
                                    <label for="expanded4" class="readMoreBtn" role="button" routerLink="teacher-training-programme">Read More</label>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-5">
                    <div class="imgDiv mt-4">
                        <div class="">
                            <img srcset="../../../assets/img/boy.png" loading="lazy" alt="PlayGroup,Nursery,Kindergarten,Teacher Training Programme" class="boyImg responsive" align="center">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <svg class="boysImg_mobileView" id="svg2" xmlns="http://www.w3.org/2000/svg" width="1440" height="1340"
            viewBox="0 0 1440 1340" fill="none">
            <path
                d="M0 180.001C0 180.001 90 90.573 262 67.0763C434 43.5796 624.535 117.817 780 112.075C932.711 106.436 1021.85 31.3142 1174.5 21.0815C1336 10.2552 1440 84.2811 1440 84.2811V1288.6C1440 1288.6 1314.5 1239.26 1174.5 1229.07C969 1214.1 864.789 1310.59 715.5 1310.59C569 1310.59 419.5 1229.07 292 1229.07C84.8618 1229.07 0 1320 0 1320V180.001Z"
                fill="#DFCFFF" />
        </svg>
        <div class="mobileWaves">
            <div class="bgWaves">
                <div class="mobResponciveDiv">
                    <div class="row mt-5">
                        <div class="col-4 mt-5">
                            <div class="">
                                <img srcset="../../../assets/img/PlayGroup.png" loading="lazy" class="listImg1 responsive" align="center"
                                    alt="">

                            </div>
                        </div>
                        <div class="col-8 mt-5">
                            <div class="listText">
                                <div class="programTitle">PlayGroup</div>
                                <div class="infoContent">
                                    <div class="text1">
                                        <div class="sub_text">Age Group</div>
                                        <div class="sub_text">1.5 - 2.5 Years</div>
                                    </div>
                                    <div class="text2">
                                        <div class="sub_text">Duration</div>
                                        <div class="sub_text">2.5 Hours/Day</div>
                                    </div>
                                </div>
                                <div class="subPara">
                                    <div class="box">
                                        <input type="checkbox" id="expanded5">
                                        <p>Children are born curious. They begin to explore the environment around
                                            them as soon
                                            as they are born. Kidzee’s playgroup curriculum plays an important role
                                            in helping
                                            children continue their exploration.

                                            The first few years of a child’s life are crucial and critical when it
                                            comes to the
                                            acquisition of skills and brain based learning. In the playgroup class,
                                            the young
                                            learners develop their latent language and math skills.</p>
                                        <label for="expanded5" class="readMoreBtn" role="button" routerLink="playgroup">Read More</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 mt-5">
                            <div class="">
                                <img srcset="../../../assets/img/Nursery.png" loading="lazy" alt="" class="listImg1 responsive"
                                    align="center">

                            </div>
                        </div>
                        <div class="col-8 mt-5">
                            <div class="listText">
                                <div class="programTitle">Nursery</div>
                                <div class="infoContent">
                                    <div class="text1">
                                        <div class="sub_text">Age Group</div>
                                        <div class="sub_text">2.5 - 3.5 Years</div>
                                    </div>
                                    <div class="text2">
                                        <div class="sub_text">Duration</div>
                                        <div class="sub_text">2.5 Hours/Day</div>
                                    </div>
                                </div>
                                <div class="subPara">
                                    <div class="box">
                                        <input type="checkbox" id="expanded6">
                                        <p>To set a firm foundation in the early years of preschool, quality early
                                            childhood education is vital for the overall development of a child. The
                                            Nursery syllabus has the right array of activities and learning environment
                                            that help a child move towards achieving their learning goals. Quality
                                            education in the early years of preschool, lays a strong foundation to
                                            develop socially and emotionally.
                                            The nursery education engages children in school readiness activities such
                                            as reading, writing, counting, number recognition, and problem solving.
                                            Children learn in a fun-filled but purposeful manner. Children are
                                            encouraged to display their learning experiences through collaborative
                                            activities in the areas of dramatics, science, and art. Our pedagogy
                                            Péntemind - The Learning Minds is aligned to the guidelines of NEP -
                                            National Education Policy 2020 and NCF - National Curriculum Framework of
                                            India.
                                        </p>
                                        <label for="expanded6" class="readMoreBtn" role="button" routerLink="nursery">Read More</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 mt-5">
                            <div class="">
                                <img srcset="../../../assets/img/Kindergarten.png" loading="lazy" alt="" class="listImg1 responsive"
                                    align="center">

                            </div>
                        </div>
                        <div class="col-8 mt-5">
                            <div class="listText">
                                <div class="programTitle">Kindergarten</div>
                                <div class="infoContent">
                                    <div class="text1">
                                        <div class="sub_text">Age Group</div>
                                        <div class="sub_text">3.5 - 5.5 Years</div>
                                    </div>
                                    <div class="text2">
                                        <div class="sub_text">Duration</div>
                                        <div class="sub_text">3.5 Hours/Day</div>
                                    </div>
                                </div>
                                <div class="subPara">
                                    <div class="box">
                                        <input type="checkbox" id="expanded7">
                                        <p>At Kidzee, the Kindergarten (KG) curriculum ensures a smooth transition to
                                            formal schooling. Children learn age-appropriate activities in various areas
                                            like English language, numbers, general knowledge, music, physical
                                            development, and art. The Kidzee Proprietary programmes for Phonics and
                                            school readiness makes it one of the best preschools in India. Child
                                            development is observed and assessed thrice in a year using a well-designed
                                            progressive matrix. Our pedagogy Péntemind - The Learning Minds is aligned
                                            to the guidelines of NEP - National Education Policy 2020 and NCF - National
                                            Curriculum Framework of India.</p>
                                        <label for="expanded7" class="readMoreBtn" role="button" routerLink="kindergarten">Read More</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 mt-5">
                            <div class="">
                                <img srcset="../../../assets/img/Teacher.png" loading="lazy" alt="" class="listImg1 responsive"
                                    align="center">

                            </div>
                        </div>
                        <div class="col-8 mt-5">
                            <div class="listText">
                                <div class="programTitle">Teacher Training Programme</div>
                                <div class="subPara">
                                    <div class="box">
                                        <input type="checkbox" id="expanded8">
                                        <p>Zee Learn Preschool Teacher Training Programme is a Zee Learn Ltd initiative.
                                            Kidzee (Preschool vertical of Zee Learn Ltd) has set unrivalled standards in
                                            the CDE (Child Development & Education) space as a leader in ECCE (Early
                                            Childhood Care & Education). Kidzee is one of the leading preschool chains
                                            in India.

                                            Our pedagogy, Péntemind nurtures the ‘Learning Minds’ in every child. It is
                                            a well-researched curriculum by our team of experts in preschool education.
                                            Early Childhood Education is now identified as the most critical need in the
                                            current global scenario. With increasing demands and recognition, there is a
                                            greater need for quality educators or preschool experts. This teacher
                                            training course will lead to the creation of world-class preschool
                                            educators.</p>
                                        <label for="expanded8" class="readMoreBtn" role="button" routerLink="teacher-training-programme">Read More</label>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
