.legancy_content {
    background-image: url('../../../assets/img/banner/Banner1.png');
    position: relative;
    width: 100%;
    height: 350px;
    padding: 20px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-blend-mode: screen;
    display: grid;
    place-content: center;
}

.rightDiv {
    padding: 10px 50px 0px 15px;
}

.leftDiv1 {
    padding: 15px 15px 0px 80px;
}

section {
    background-color: #EBE1FF;
}

.buttonList_content {
    width: 55%;
    margin: auto;
}

ul li {
    overflow: hidden;
}

.yearsListTab {
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 10px 10px 10px;
    margin-top: 20px;
}

.active_years {
    color: #FAC216;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    overflow: hidden;
    cursor: pointer;
}

.years {
    color: rgba(102, 103, 104, 0.50);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    /* 107.692% */
    overflow: hidden;
    cursor: pointer;
    transition: .3s;
}

.years:hover {
    color: #FAC216;
    font-size: 20px;
}


.title_kidzee {
    color: #65318E;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width:100%;
    text-align: center;
    margin: auto;
}

.legacy_btn {
    border-radius: 0px 53px 53px 20px;
    background: #65318E;
    border: #65318E;
    padding: 5px 20px 5px 20px;
    color: #FFF;
}

.subTitle_kidzee {
    color: #282828;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 35px 0px 0px 78px;
}

.listTitle {
    color: #282828;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 35px 0px 0px 78px;
}

.grey_btn {
    border-radius: 0px 53px 53px 20px;
    background: #AAAAAA;
    border: #AAAAAA;
    padding: 5px 20px 5px 20px;
    color: #FFF;
    margin-left: 10px;
}

.leftDiv {
    width: 28rem;
    height: 28rem;
    float: right;
    margin-right: 45px;
}

.leftDiv_whiteImg {
    width: 28rem;
    height: 28rem;
    float: right;
    margin-right: 45px;
}

.paperaeroplane {
    width: 28rem;
    height: 28rem;
    float: right;
    margin-right: 45px;
}

.sun_paperaeroplane {
    width: 28rem;
    height: 28rem;
    margin-left: 85px;
}

.awardImg {
    width: 28rem;
    height: 28rem;
    margin-left: 85px;
}

.award_standingMonkey {
    display: flex;
    width: 15rem;
    height: 20rem;
    margin: auto;
}

.legancyMonkey {
    background-image: url('../../../assets/img/legancyMonkey.png');
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 10rem;
    height: 12rem;
    position: absolute;
    right: 100px;
    margin-top: -45px;
    display: block;
}

.standingMonkey {
    background-image: url('../../../assets/img/standingMonkey.png');
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 17rem;
    height: 24rem;
    margin: auto;
}

ul {
    padding: 0;
}

.dot {
    font-size: 3rem;
}

.grey_btn:active,
.grey_btn:focus {
    background: #65318E;
    border: #65318E;
}

.yearContentList li {
    line-height: 20px;
    padding: 10px 0px 0px 35px;
    color: #282828;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
}

.legancy_content_res {
    display: none;
}
.subMenu_content{
    position:absolute;
    top: 11rem;
    left: 4rem;
}

@media screen and (max-width: 600px) {
    .rightDiv {
        padding: 10px 5px 0px 10px;
    }

    .buttonList_content {
        width: 90%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
    }

    .grey_btn {
        font-size: 12px;
        padding: 10px 20px 10px 10px;
        margin-top: 10px;
    }

    .legacy_btn {
        border-radius: 0px 53px 53px 20px;
        background: #65318E;
        border: #65318E;
        color: #FFF;
        margin-top: 10px;
        height: 40px;
        font-size: 12px;
    }

    .leftDiv {
        width: 22rem;
        height: 24rem;
    }

    .legancyMonkey {
        display: none;
    }

    .paragraph_content {
        padding: 10px;
    }

    .leftDiv_whiteImg {
        width: 25rem;
        height: 25rem;
        margin: auto;
    }

    .subTitle_kidzee {
        margin: 35px 10px 10px 5px;
    }

    .leftDiv1 {
        padding: 10px;
    }

    .listTitle {
        margin: 10px;
    }

    .paperaeroplane {
        margin: auto;
        width: 23rem;
        height: 25rem;
    }

    .sun_paperaeroplane {
        margin: auto;
        width: 23rem;
        height: 25rem;
    }

    .title_kidzee {
        width: 100%;
    }

    .awardImg {
        width: 18rem;
        height: 22rem;
        margin: auto;
    }

    .legancy_content {
        display: none;
    }

    .legancy_content_res {
        background-image: url('../../../assets/img/banner/resBanner1.png');
        position: relative;
        width: 100%;
        height: 125px;
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
        padding: 20px;
        box-sizing: border-box;
        background-repeat: no-repeat;
        background-blend-mode: screen;
        display: grid;
        place-content: center;
    }

    .whiteTitle {
        color: #FFF;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-top: 15px;
    }
    .subMenu_content {
        position: absolute;
        top: 1rem;
        left: 0rem;
    }
}