<div class="aboutUs">
    <div class="row flex-column-reverse flex-lg-row">
        <div class="col-md-6">
            <div class="monkeyContent">
                <!-- <div class="monkey1"></div> -->
                <img srcset="../../../assets/img/monkey1.png" loading="lazy" alt="" class="monkey1">
            </div>
        </div>
        <div class="col-md-6">
            <div class="text_content">
                <div class="right_content1">
                    <div class="title">
                        About Us
                    </div>
                    <div class="subTitle">
                        Kidzee Preschool
                    </div>
                    <div class="paragraph_content mt-2">
                        <p>Kidzee Preschool is leading chain with preschool situated in India and Nepal backed
                            Zee Learn Ltd. With more than two decades of experience in the preschool industry,
                            Kidzee has nurtured more than 1.4 million children throughout India. Being one of
                            the largest preschools in India. Kidzee has 2000+ centres in 750+ cities in India
                            and Nepal.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>