<div class="row">
  <div class="col-md-12">
    <div class="left_div">
      <div class="title text-left w-100">{{blogdetails?.MetaTitle}}</div>
    </div>
    <div class="education_content mt-4">
      <!-- <div class="">{{blogdetails?.MetaKeyword}}</div> -->
      <div class="">{{blogdetails?.dateCreated}}</div>
    </div>
    <div class="pancil_img_content mt-4">
      <img src={{blogdetails.files[1].url}} loading="lazy" width="100%" height="100%" class="img img-responsive" alt={{blogdetails.files[1].filename}}>
      <div class="text_para mt-3">
        <p>{{blogdetails.Short}}</p>
      </div>
    </div>

    <div class="text_para mt-3">
    <p [innerHTML]="blogdetails.long1"></p>
    </div>

  </div>
</div>
<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
