.wrapper-1 {
  overflow: hidden;
  display: flex;
  flex-direction: column;

}

.wrapper-2 {
  padding: 30px;
  text-align: center;
}

h1 {
  font-family: 'Kaushan Script', cursive;
  font-size: 4em;
  letter-spacing: 3px;
  color: #5892FF;
  margin: 0;
  margin-bottom: 20px;
  overflow: hidden;
}

.wrapper-2 p {
  margin: 0;
  font-size: 1.3em;
  color: #aaa;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 1px;
}

.go-home {
  border: none;
  padding: 10px 50px;
  margin: 30px 0;
  border-radius: 30px;
  text-transform: capitalize;
  box-shadow: 0 10px 16px 1px rgba(174, 199, 251, 1);
}

.footer-like {
  margin-top: auto;
  background: #D7E6FE;
  padding: 6px;
  text-align: center;
}

.footer-like p {
  margin: 0;
  padding: 4px;
  color: #5892FF;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 1px;
}

.footer-like p a {
  text-decoration: none;
  color: #5892FF;
  font-weight: 600;
}

h1 {
  color: #65318E;
}

.wrapper-2 p {
  color: #333131;
  font-size: 16px;
}

.submit_btn {
  background-color: #65318E;
  padding: 5px 10px 5px 10px;
  border-radius: 0px 53px 53px 53px;
  border: none;
  width:25%;
  color: #FFF;
  font-weight: 500;
  margin: 10px;
  transition: all ease 0.5s;
  cursor: pointer;
}
.submit_btn:active{
  scale: 0.9;
}
@media (min-width:360px) {
  h1 {
    font-size: 4.5em;
  }

  .go-home {
    margin-bottom: 20px;
  }
}

@media (min-width:600px) {
  .content {
    width: 100%;
    margin: 0 auto;
    margin-top: 120px;
    padding-bottom: 50px;
    background-color: #EBE1FF;
  }

  .wrapper-1 {
    height: initial;
    max-width: 620px;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 4px 8px 40px 8px rgba(88, 146, 255, 0.2);
  }

}

.div {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.div-2 {
  background-color: #ebe1ff;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 50px 80px;
}

@media (max-width: 991px) {
  .div-2 {
    max-width: 100%;
    padding: 0 20px;
  }
}

.div-3 {
  color: #65318e;
  text-align: center;
  letter-spacing: 24px;
  text-transform: uppercase;
  margin-top: 88px;
  white-space: nowrap;
  font: 400 24px Inter, sans-serif;
}

@media (max-width: 991px) {
  .div-3 {
    margin-top: 40px;
    white-space: initial;
  }
}

.div-4 {
  align-self: center;
  display: flex;
  width: 781px;
  max-width: 100%;
  flex-direction: column;
  margin: 9px 0 53px 13px;
}

@media (max-width: 991px) {
  .div-4 {
    margin-bottom: 40px;
  }
}

.div-5 {}

@media (max-width: 991px) {
  .div-5 {
    max-width: 100%;
  }
}

.div-6 {
  gap: 20px;
  display: flex;
}

@media (max-width: 991px) {
  .div-6 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}

.column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 26%;
  margin-left: 0px;
}

@media (max-width: 991px) {
  .column {
    width: 100%;
  }
}

.img {
  aspect-ratio: 0.73;
  object-fit: contain;
  object-position: center;
  width:175px;
  overflow: hidden;
  max-width: 100%;
  flex-grow: 1;
}

.column-2 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 74%;
  margin-left: 20px;
}

@media (max-width: 991px) {
  .column-2 {
    width: 100%;
  }
}

.img-2 {
  aspect-ratio: 2.17;
  object-fit: contain;
  object-position: center;
  width: 100%;
  overflow: hidden;
  margin-top: 10px;
  flex-grow: 1;
}

@media (max-width: 991px) {
  .img-2 {
    max-width: 100%;
  }
}

.div-7 {
  color: #282828;
  /* align-self: end;
  white-space: nowrap;
  margin: 18px 83px 0 0; */
  font: 400 16px/28px Inter, sans-serif;
}

@media (max-width: 991px) {
  .div-7 {
    margin-right: 10px;
    white-space: initial;
  }
}

.img-3 {
  aspect-ratio: 4.79;
  object-fit: contain;
  object-position: center;
  width: 182px;
  overflow: hidden;
  align-self: center;
  max-width: 100%;
  margin: 15px 0 0 102px;
}
