.banner_content {
    background-image: url('../../../../assets/img/banner/Banner3.png');
    position: relative;
    width: 100%;
    min-height: 350px;
    padding: 20px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-blend-mode: screen;
    display: grid;
    place-content: center;
}

.mainDiv {
    background-color: #EBE1FF;
    padding: 0px 0px 45px;
}


.search_content {
    width: 225px;
    float: right;
    margin-right: 50px;
}

.search_input {
    margin-right: 50px;
    height: 35px;
    border-radius: 20px;
    border: 2px solid #65318E;
    background-color: #65318E;
    color: #FFF;
    padding: 6px 0px 10px 15px;
}

.subMenu_content {
    position: absolute;
    top: 11rem;
    left: 4rem;
}

.search_icon {
    width: 15px;
    height: 15px;
    position: relative;
    bottom: 31px;
    left: 195px;
}

::placeholder {
    color: #FFF;
    font-size: 12px;
}

.title {
    width: 70%;
    margin: auto;
}

.blog_details_content {
    width: 90%;
    margin: auto;
}

.pancil_group {
    width: 100%;
}

.text_para {
    color: #282828;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.preeSchooImg {
    width: 100%;
}

.child_img {
    height: 450px;
}

.all_blog {
    width: 90%;
    margin: auto;
}

.education_content {
    width: 50%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    color: #282828;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.list_content{
    color: #282828;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    padding: 60px 0px 10px 80px;
}

.list_content p{
    cursor: pointer;
}
.studying_monkey{
    width: 12rem;
    height: 14rem;
    margin: 0rem 11rem;
}
.monkey_img_content{
    background-color: #EBE1FF;
}
.monkey_img_content{
    display: block;
}
.readMoreBtn{
  background-color: #65318E;
  color: #FFF;
  text-align: center;
  font-size: 11px;
  font-style: normal;
  border: none;
  font-weight: 500;
  padding: 7px 8px 7px 8px;
  border-radius: 0px 53px 53px 20px;
  margin-top: 6px;
  transition: all ease 0.2s;
}

.readMoreBtn:active{
scale: 0.9;
}
.text_content{
  cursor: pointer;
}
@media screen and (max-width: 600px) {
    .monkey_img_content{
        display: none;
    }
    .right_div{
        margin-top: 45px;
    }
    .education_content{
        width:70%;
    }
    .title {
        width: 100%;
        font-size: 1.5rem;
    }

    .child_img {
        height: auto;
    }

    .search_content {
        margin: auto;
        float: none;
        margin-top: 15px;
    }

    .subMenu_content {
        position: absolute;
        top: 4rem;
        left: 0rem;
    }

    .banner_content {
        background-size: 100% 100%;
        min-height: 180px;
    }
}
